*{
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas: 
    gap: 10px;
}

header {
    background-color: blueviolet;
    justify-self: center;
}

aside {
    background-color: aqua;
}

article {
    background-color: rgb(24, 255, 24);
}

article {
    background-color: blue;
}

footer {
    background-color: red;
}
