/* Definição de cores*/

:root {
    --cor-primaria: #1E3A8A; /* Azul escuro */
    --cor-secundaria: #3B82F6; /* Azul médio */
    --cor-texto: #F3F4F6; /* Cinza claro */
    --cor-fundo: #0F172A; /*Azul quase preto */
    --cor-houver: #60A5FA; /* Azul claro */
}

/* Reset e estilos globais*/
* {
    margin: 0;
    padding: 0;
    box-family: 'Poppins', sans-serif;
}

body {
    background: var(--cor-fundp);
    display: flex;
    algn-itens: center;
    justify-content: center;
    height: 100vh;
}

/* Conteriner principal */
.container {
    backgrond: linear-gradient(to right, var(--cor-prinmaria), var(--cor-secundaria));
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
    color: var(--cor-texto);
}

/* Caixa de login */
.login-box h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-box p {
    font-size: 1rem;
    margin-botton: 20px;
    oácity: 0.8;
}

/* Grupos de entrada */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    background: mome;
    border: nome;
    outline: nome;
    border-bottom: 2px solid var(--cor-texto);
    font-size: 1rem;
    colo: var(--cor-texto);
}

.input-group label {
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 1rem;
    transition: 0.3s;
    color: var(--cor-texto);
    opacity: 0.7;
}

/* Efeito flutuante */
.input-group input:focus ~ label,
.input-grupo input:valid ~ label {
    top: -10px;
    font-size: 0.8rem;
    color: var(--cor-hover);
}